[package]

name = "planetjump"
version = "0.0.1"
authors = ["Kuba Marek <blue.cube@seznam.cz>"]

[lib]
name = "shared"
path = "src/shared/lib.rs"

[[bin]]
name = "client"
path = "src/client/main.rs"

[dependencies]
rand = "0.3.8"
sdl2 = "0.5.0"

[profile.release]
lto = true
